@import "variables";

.about {
    margin-top: 5vh;
    padding: 10vmin;
    width: 100%;
    color: var(--text-color);
}

.gradienttext {
    background: var(--gradient);
    background-size: 800% 800%;
    background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation: navgradient 21s ease infinite;
}