@import "variables";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

*, html, body
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);

}
