.wrapper
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vmin;
    justify-content: space-evenly;
    width: 100vw;
    a {
        color: var(--text-color);
        text-decoration: none;
    }
}

.icon
{
    font-size: 5vmin;
    margin: 20px;
    cursor: pointer;
}