@import "variables";

.nav {
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5em;
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
    border-radius: 0px 0px 15px 15px;
    -webkit-box-shadow: -1px 4px 19px 0px var(--shadow);
    -moz-box-shadow: -1px 4px 19px 0px var(--shadow);
    box-shadow: -1px 4px 19px 0px var(--shadow);
}
.ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: transparent;
}
.a {
    text-decoration: none;
}
.spacer {
    height: calc(4.5em - 15px);
}

/* gradient */
.gradienttext {
    background: var(--gradient);
    background-size: 800% 800%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: navgradient 21s ease infinite;
}

