@import "variables";

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 60vh;
    overflow: hidden;
}
.image {
    min-width: 100vw;
    transition: all 1s ease;
    filter: brightness(0.4);
}
.image:hover {
    filter: brightness(0.2);
    
}
text {
    color: var(--text-color);
}