

/* fonts */
$title-font: 'Lato', sans-serif;
$body-font: sans-serif;
$mono-font: mono;

@keyframes navgradient {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}