---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.svelte';
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
		<style>
			.wrapper {
				width: 100vw;
				height: 80vh;
				display: grid;
				place-items: center;
			}
			img {
				width: 100%;
			}
		</style>
	</head>
	<body>
		<Nav client:load/>
		<div class="wrapper">
			<img src="/assets/images/404.png" alt="404 page not found">
		</div>
		<Footer/>
	</body>
</html>
