---
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.svelte'
import Footer from '../components/Footer.astro'
import BgImage from '../components/BgImage.svelte'
import ArticlePreview from '../components/ArticlePreview.astro'
import Card from '../components/Card.svelte'
import Icons from '../components/AccountIcons.svelte'

const articles = await Astro.glob('./blog/**/*.mdx')
const numberOfArticles = 3
const featuredArticles = articles.slice(0, numberOfArticles)
---

<html lang="en">
	<head>
		<MainHead
			title="Piotr Nowakowski Personal website"
			description="Piotr Nowakowski: Developer, Ethical Hacker, 3D Graphic Designer, Photographer..."
		/>
		<style>
			main {
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<Nav />
		<main>
			<div class="bg-wrapper"></div>
			<BgImage src="/assets/images/background.png" alt="background"/>
			<Icons/>
		</main>
		<Footer />
	</body>
</html>
