:root {
    --bg-color: rgb(218, 218, 218);
    --text-color: rgb(20, 20, 20);
    --accent-color: rgb(90, 90, 90);
    --shadow: #3D4348;
    --gradient: linear-gradient(252deg, #3f00a8, #ff0039, #fcb045, #0081ff);
}