html {
    transition: all 1s ease !important;
    background-color: var(--bg-color);
}
body {
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6,p,i,b,u {
    color: var(--text-color);
}

/*
font-family: 'Dongle', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Sedgwick Ave', cursive;
*/